<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Image Scaler to Thumbnail Application</span>
      <span class="example-spacer"></span>

<!-- <button
      class="notification"
     (click)="notification.checkForChanges()"
     *ngIf="loggedIn&&user!=='guest'"
>Check for New
</button> -->

      <!-- Notification of New Comments
      <button
        *ngIf="loggedIn&&user!=='guest'"
        class="notification"
        mat-raised-button color="primary"
        [matBadgeHidden]="newNotifications!==0?false:true"
        [matBadge]="newNotifications" 
        matBadgePosition="before" 
        matBadgeColor="warn"
        (click)="showNewNotifications()"
        >
        New Posts
      </button> -->

      <!-- <mat-form-field>
        <mat-label *ngIf="!location.value">Pick Location</mat-label>
        <mat-select [formControl]="location" [disabled]="!loggedIn">
          <mat-option *ngFor="let loc of locations" [value]="loc">{{loc}}</mat-option>
        </mat-select>
      </mat-form-field> -->

      <span class="info">
        {{user? user : 'Not Logged In'}} 
      </span>
      <button class="logout" *ngIf="user" (click)="logout(1)">Logout</button>
    </mat-toolbar-row>
  </mat-toolbar>
</p>

<!-- How does line 8 work??-->


<nav mat-tab-nav-bar>
  <a mat-tab-link [active]="activeLink === 'login'" (click)="activeLink = 'login'"
    [routerLink]="['/','accounts','login']" *ngIf="!loggedIn">Login</a>

  <a mat-tab-link [active]="activeLink === 'createaccount'" (click)="activeLink = 'createaccount'"
    [routerLink]="['/','accounts','createaccount']" *ngIf="!loggedIn">Create Account</a>

  <!-- <a mat-tab-link [active]="activeLink === 'createaccount2'" (click)="activeLink = 'createaccount2'"
    [routerLink]="['/','posts','createrequest2']" *ngIf="loggedIn">Bipin's Create Post</a> -->

  <a mat-tab-link [active]="activeLink === 'createrequest'" (click)="activeLink = 'createrequest'"
    [routerLink]="['/','images','create']" *ngIf="loggedIn">Create Thumbnail</a>

  <a mat-tab-link [active]="activeLink === 'view'" (click)="activeLink = 'view'"
    [routerLink]="['/','images','view']" [state]="{request : 'view'}" *ngIf="loggedIn">View Thumbnails</a>
    
  <a mat-tab-link [active]="activeLink === 'viewflagged'" (click)="activeLink = 'viewflagged'"
    [routerLink]="['/','images','viewflagged']" [state]="{request : 'viewflagged'}" *ngIf="loggedIn && user==='admin@admin'">View Flagged Images</a>


  <!-- <a mat-tab-link [active]="activeLink === 'profile'" (click)="activeLink = 'profile'"
    [routerLink]="['/','accounts','profile']" [state]="{source: 'currentUser'}" *ngIf="loggedIn">My Profile</a> -->

  <a mat-tab-link [active]="activeLink === 'logout'" [routerLink]="['/','accounts','login']" (click)="logout(0)"
    *ngIf="loggedIn">Logout</a>

</nav>

<router-outlet></router-outlet>

<!-- <nav mat-tab-nav-bar ngClass = "tabs">
  <a mat-tab-link [routerLink]="['/', 'user', 'signin']" routerLinkActive="active-link" [disabled]="loggedIn">Login</a>
  <a mat-tab-link [routerLink]="['/', 'user', 'signup']" routerLinkActive="active-link" [disabled]="loggedIn">Signup</a>
  <a mat-tab-link [routerLink]="['/', 'user', 'edituser']" routerLinkActive="active-link" [disabled]="!loggedIn">Account Info</a>
  <a mat-tab-link [routerLink]="['/', 'user', 'edituser']" routerLinkActive="active-link" [disabled]="!loggedIn">Logout</a>
</nav> -->